.dates {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 43%;
    z-index: 0;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    /* 80% */
    letter-spacing: -4px;
    text-align: center;

    .startDate {
        color: #5D5FEF;
    }

    .endDate {
        color: #EF5DA8;
    }
}

@media (max-width: 768px) {

    .dates {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 47px);
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        font-size: 56px;
        letter-spacing: -1.12px;
        padding-left: 20px;
        padding-right: 27px;
        line-height: normal;
    }
}