.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
    white-space: normal;
    overflow-wrap: break-word;

    .title {
        color: #3877EE;
        font-family: "Bebas Neue";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        text-transform: uppercase;
    }

    .event {
        color: #42567A;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        white-space: normal;
        overflow-wrap: break-word;
    }
}

@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
            font-size: 16px;
        }

        .event {
            font-size: 14px;
            line-height: 145%;

        }
    }
}