.slider {
    max-width: 100%;
    position: relative;
    bottom: 104px;
    padding-left: 80px;
    padding-right: 160px;

    .slideWrapper {
        opacity: 1;
    }

    .fadeOut {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .fadeIn {
        opacity: 1;
        transition: opacity 1s ease-out;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FFF;
        filter: drop-shadow(0 0 15px rgba(56, 119, 238, 0.10));
        cursor: pointer;
        top: 50%;
    }

    .back {
        left: 20px;
    }

    .forward {
        right: 40px;
    }
}

@media (max-width: 768px) {
    .slider {
        bottom: 0;
        padding: 0;
        flex-grow: 1;

        .category {
            margin-bottom: 20px;
            padding-left: 20px;
        }

        .line {

            height: 1px;
            background-color: #C7CDD9;
            margin: 0 20px 20px 20px;

        }

        .fadeOut {
            transform: translateY(100%)
        }

        .fadeIn {
            opacity: 1;
            transition: all 0.5s ease-out;
            transform: translateY(0%)
        }
    }

}