@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap');


body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-slide {
  max-width: 320px;
}

@media (max-width: 768px) {
  .mySwiper {
    height: 100%;
    padding-left: 20px !important;
  }

  .swiper-slide {
    max-width: 166px;
    overflow: hidden;
    display: flex;
    white-space: normal;
    overflow-wrap: break-word;
    transition: opacity 0.3s ease;
  }

}